awscrt==0.17.0
awsiot==0.1.3    
ads1015==0.0.8
appdirs==1.4.4
arandr==0.1.10
astroid==2.15.6
asttokens==2.2.1
automationhat==0.4.1
awscrt==0.17.0
AWSIoTPythonSDK==1.5.2
awsiotsdk==1.17.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
blinkt==0.1.2
boto3==1.28.19
botocore==1.31.19
buttonshim==0.0.2
Cap1xxx==0.1.4
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
colorzero==2.0
comm==0.1.4
contourpy==1.1.0
cryptography==3.3.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.6.8
decorator==5.1.1
dill==0.3.7
distro==1.8.0
docutils==0.20.1
drumhat==0.1.0
envirophat==1.0.1
executing==1.2.0
ExplorerHAT==0.5.1
Flask==2.3.2
fonttools==4.42.0
fourletterphat==0.1.0
gpiozero==1.6.2
greenlet==2.0.2
guizero==1.4.0
gyp==0.1
html5lib==1.1
i2cdevice==0.0.7
idna==3.4
imageprocessing==0.1.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
imutils==0.5.4
ipykernel==6.25.0
ipython==8.14.0
ipython_genutils==0.2.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
logilab-common==1.10.0
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
microdotphat==0.2.2
mock==5.1.0
mote==0.0.4
motephat==0.0.3
mypy==1.4.1
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
nest-asyncio==1.5.7
nudatus==0.0.5
numpy==1.25.2
oauthlib==3.2.2
opencv-contrib-python==4.5.5.62
packaging==23.1
pandas==2.0.3
pantilthat==0.0.7
parso==0.8.3
pbr==5.11.1
pexpect==4.8.0
pgzero==1.2.1
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picamera2==0.3.12
pickleshare==0.7.5
pidng==4.0.9
piexif==1.1.3
piglow==1.2.5
pigpio==1.78
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.5
pure-eval==0.2.2
pycairo==1.24.0
pycodestyle==2.11.0
pycups==2.0.1
pyflakes==3.1.0
pygame==2.5.0
Pygments==2.15.1
PyGObject==3.44.1
pyinotify==0.9.6
PyJWT==2.8.0
pylint==2.17.5
PyOpenGL==3.1.7
pyOpenSSL==20.0.1
pyparsing==3.1.1
PyQt5==5.15.2
PyQt5-sip==12.12.2
pyserial==3.5
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.8.2
python-prctl==1.7
pytz==2023.3
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==25.1.0
QScintilla==2.11.6
qtconsole==5.4.3
QtPy==2.3.1
rainbowhat==0.1.0
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.3
roman==4.1
RPi.GPIO==0.7.1
RTIMULib==7.2.1
s3transfer==0.6.1
scrollphat==0.0.7
scrollphathd==1.3.0
semver==3.0.1
Send2Trash==1.8.2
sense-emu==1.2.1
sense-hat==2.4.0
simplejpeg==1.6.6
simplejson==3.19.1
six==1.16.0
skywriter==0.0.8
smbus2==0.4.2
sn3218==2.0.0
soupsieve==2.4.1
spidev==3.6
SQLAlchemy==2.0.20
ssh-import-id==5.11
ST7735==0.0.4.post1
stack-data==0.6.2
thonny==4.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tornado==6.3.2
touchphat==0.0.2
traitlets==5.9.0
twython==3.9.1
typed-ast==1.5.5
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
tzdata==2023.3
uflash==2.0.0
unicornhathd==0.0.4
urllib3==2.0.4
v4l2-python3==0.3.2
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.6
wrapt==1.15.0
zipp==3.16.2
